In [21]:
import numpy as np
import sys, os
sys.path.append(os.path.abspath('../scripts'))
import pandas as pd
from data_cleaning_functions import *

Load employee table

In [2]:
employeeDF = pd.read_csv("../data/raw/Employee.csv")
display(employeeDF.head())
print("\n--- INFO ---")
employeeDF.info()
print("\n--- DESCRIBE ---")
employeeDF.describe()

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606,0,No,2012-01-05,Yes,6,1,1,6

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

--- DESCRIBE ---

,Age,DistanceFromHome (KM),Education,Salary,StockOptionLevel,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,28.989796,22.502721,2.912925,112956.497959,0.793878,4.562585,2.293197,3.440816,2.239456
std,7.993055,12.811124,1.024165,103342.889222,0.852077,3.288048,2.539093,2.945194,2.505774
min,18.000000,1.000000,1.000000,20387.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,12.000000,2.000000,43580.500000,0.000000,2.000000,0.000000,1.000000,0.000000
50%,26.000000,22.000000,3.000000,71199.500000,1.000000,4.000000,1.000000,3.000000,1.000000
75%,34.000000,33.000000,4.000000,142055.750000,1.000000,7.000000,4.000000,6.000000,4.000000
max,51.000000,45.000000,5.000000,547204.000000,3.000000,10.000000,10.000000,10.000000,10.000000

In [3]:
check_nulls_duplicates(employeeDF, employeeDF.columns[0])

Null values in each column:
EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

Duplicate rows: 0
Unique IDs of the Total cells 1470 is: 1470

Load education table

In [4]:
education_levelDF = pd.read_csv("../data/raw/EducationLevel.csv")
display(education_levelDF.head())
print("\n--- INFO ---")
education_levelDF.info()
print("\n--- DESCRIBE ---") 
education_levelDF.describe()

   EducationLevelID            EducationLevel
0                 1  No Formal Qualifications
1                 2              High School
2                 3                Bachelors
3                 4                  Masters
4                 5                 Doctorate

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EducationLevelID  5 non-null      int64
 1   EducationLevel    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

--- DESCRIBE ---

       EducationLevelID
count          5.000000
mean           3.000000
std            1.581139
min            1.000000
25%            2.000000
50%            3.000000
75%            4.000000
max            5.000000

Load performanceRating table

In [5]:
performanceDF = pd.read_csv("../data/raw/PerformanceRating.csv")
display(performanceDF.head())
print("\n--- INFO ---")
performanceDF.info()
print("\n--- DESCRIBE ---")
performanceDF.describe()

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,1/2/2013,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,1/3/2013,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,1/3/2013,3,4,5,3,2,3,5,4
3,PR04,0678-748A,1/4/2013,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,1/4/2013,5,2,3,1,0,4,4,3

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   object
 3   EnvironmentSatisfaction          6709 non-null   int64
 4   JobSatisfaction                  6709 non-null   int64
 5   RelationshipSatisfaction         6709 non-null   int64
 6   TrainingOpportunitiesWithinYear  6709 non-null   int64
 7   TrainingOpportunitiesTaken       6709 non-null   int64
 8   WorkLifeBalance                  6709 non-null   int64
 9   SelfRating                       6709 non-null   int64
 10  ManagerRating                    6709 non-null   int64
dtypes: int64(8), object(3)
memory usage: 576.7+ KB

--- DESCRIBE ---

,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
count,6709.000000,6709.000000,6709.000000,6709.000000,6709.000000,6709.000000,6709.000000,6709.000000
mean,3.872559,3.430616,3.427336,2.012968,1.017290,3.414667,3.984051,3.473394
std,0.940701,1.152565,1.156753,0.820310,0.950316,1.143961,0.816432,0.961738
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,2.000000
25%,3.000000,2.000000,2.000000,1.000000,0.000000,2.000000,3.000000,3.000000
50%,4.000000,3.000000,3.000000,2.000000,1.000000,3.000000,4.000000,3.000000
75%,5.000000,4.000000,4.000000,3.000000,2.000000,4.000000,5.000000,4.000000
max,5.000000,5.000000,5.000000,3.000000,3.000000,5.000000,5.000000,5.000000

Load ratingLevel table

In [6]:
rating_levelDF = pd.read_csv("../data/raw/RatingLevel.csv")
display(rating_levelDF.head())
print("\n--- INFO ---")
rating_levelDF.info()
print("\n--- DESCRIBE ---")
rating_levelDF.describe()

   RatingID           RatingLevel
0         1          Unacceptable
1         2     Needs Improvement
2         3     Meets Expectation
3         4  Exceeds Expectation
4         5      Above and Beyond

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RatingID     5 non-null      int64
 1   RatingLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

--- DESCRIBE ---

       RatingID
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

Load satisfactionLevel table

In [7]:
satisfaction_levelDF = pd.read_csv("../data/raw/SatisfiedLevel.csv")
display(satisfaction_levelDF.head())
print("\n--- INFO ---")
satisfaction_levelDF.info()
print("\n--- DESCRIBE ---")
satisfaction_levelDF.describe()

   SatisfactionID  SatisfactionLevel
0               1  Very Dissatisfied
1               2       Dissatisfied
2               3            Neutral
3               4         Satisfied
4               5     Very Satisfied

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SatisfactionID     5 non-null      int64
 1   SatisfactionLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

--- DESCRIBE ---

       SatisfactionID
count        5.000000
mean         3.000000
std          1.581139
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000

In [8]:
# cleaning the columns titles

In [9]:
employeeDF = clean_columns(employeeDF)
education_levelDF = clean_columns(education_levelDF)
performanceDF = clean_columns(performanceDF)
rating_levelDF = clean_columns(rating_levelDF)
satisfaction_levelDF = clean_columns(satisfaction_levelDF)

change the employee columns data types

In [10]:
# Numeric columns
num_cols = ['age','distancefromhome_km','education','salary','stockoptionlevel',
            'yearsatcompany','yearsinmostrecentrole','yearssincelastpromotion','yearswithcurrmanager']

employeeDF[num_cols] = employeeDF[num_cols].apply(pd.to_numeric, errors='coerce')
# Dates
employeeDF['hiredate'] = pd.to_datetime(employeeDF['hiredate'], errors='coerce')

change the performance columns data types

In [11]:
performance_numeric = ['environmentsatisfaction','jobsatisfaction','relationshipsatisfaction',
                       'trainingopportunitieswithinyear','trainingopportunitiestaken',
                       'worklifebalance','selfrating','managerrating']

performanceDF[performance_numeric] = performanceDF[performance_numeric].apply(pd.to_numeric, errors='coerce')
performanceDF['reviewdate'] = pd.to_datetime(performanceDF['reviewdate'], errors='coerce')

remove the spaces and capitalize the first letter

In [12]:
cat_cols_employee = ['firstname','lastname','gender','businesstravel','department','state','ethnicity',
                     'educationfield','jobrole','maritalstatus','overtime','attrition']


cat_cols_education = ['educationlevel']

cat_cols_rating = ['ratinglevel']

cat_cols_satisfaction = ['satisfactionlevel']

In [13]:
employeeDF = clean_categorical(employeeDF, cat_cols_employee)
education_levelDF = clean_categorical(education_levelDF, cat_cols_education)
rating_levelDF = clean_categorical(rating_levelDF, cat_cols_rating)
satisfaction_levelDF = clean_categorical(satisfaction_levelDF, cat_cols_satisfaction)

remove duplicates from the employee table

In [14]:
employeeDF.drop_duplicates(subset='employeeid', inplace=True)

insert the median for every missing value, drop the row of the missing employee id

In [15]:
for col in num_cols:
    employeeDF[col].fillna(employeeDF[col].median(), inplace=True)

# Drop rows with missing IDs
employeeDF.dropna(subset=['employeeid'], inplace=True)

In [16]:
employeeDF.to_csv("../data/clean/employee_clean.csv", index=False)
performanceDF.to_csv("../data/clean/performance_clean.csv", index=False)
education_levelDF.to_csv("../data/clean/education_level_clean.csv", index=False)
rating_levelDF.to_csv("../data/clean/rating_level_clean.csv", index=False)
satisfaction_levelDF.to_csv("../data/clean/satisfaction_clean.csv", index=False)

In [17]:
# Step 1: Merge Employee with EducationLevel (many:1)
bigDF = employeeDF.merge(
    education_levelDF, 
    left_on='education', 
    right_on='educationlevelid',
    how='left'
)

# Step 2: Merge Performance with Employee (1:many)
bigDF = bigDF.merge(
    performanceDF,
    on='employeeid',
    how='left'
)

# Step 3: Merge SatisfactionLevel for EnvironmentSatisfaction, JobSatisfaction, RelationshipSatisfaction
bigDF = bigDF.merge(
    satisfaction_levelDF,
    left_on='environmentsatisfaction',
    right_on='satisfactionid',
    how='left',
    suffixes=('', '_env')
)

bigDF = bigDF.merge(
    satisfaction_levelDF,
    left_on='jobsatisfaction',
    right_on='satisfactionid',
    how='left',
    suffixes=('', '_job')
)

bigDF = bigDF.merge(
    satisfaction_levelDF,
    left_on='relationshipsatisfaction',
    right_on='satisfactionid',
    how='left',
    suffixes=('', '_rel')
)

# Step 4: Merge RatingLevel for SelfRating and ManagerRating
bigDF = bigDF.merge(
    rating_levelDF,
    left_on='selfrating',
    right_on='ratingid',
    how='left',
    suffixes=('', '_self')
)

bigDF = bigDF.merge(
    rating_levelDF,
    left_on='managerrating',
    right_on='ratingid',
    how='left',
    suffixes=('', '_manager')
)

# Step 5: Export
bigDF.to_csv("../data/clean/bigtable.csv", index=False)

In [18]:
# List of EmployeeIDs you want
employee_ids = ['324B-F4DF', '8369-ED26', '1D32-9620']

# Select rows where EmployeeID is in the list
selected_data = bigDF[bigDF['employeeid'].isin(employee_ids)]

Mergin tables and exporting two tables performance_fact and employee_master

In [19]:

# --- 1. Prepare Lookup Tables for Merging ---
df_satisfied_lookup = satisfaction_levelDF.rename(
    columns={'satisfactionid': 'id', 'satisfactionlevel': 'satisfaction_text'}
)[['id', 'satisfaction_text']]

df_rating_lookup = rating_levelDF.rename(
    columns={'ratingid': 'id', 'ratinglevel': 'rating_text'}
)[['id', 'rating_text']]

# --- 2. Create the Enriched Performance Fact Table (performance_fact.csv) ---

print("Starting: Creating enriched Performance Fact Table...")

df_fact = performanceDF.copy()

# --- A. Merge Satisfaction Levels (3 times) ---

# 1. Environment Satisfaction
df_fact = pd.merge(
    df_fact,
    df_satisfied_lookup.rename(columns={'satisfaction_text': 'envsatisfaction_text'}),
    left_on='environmentsatisfaction',
    right_on='id',
    how='left'
)
df_fact.drop(columns=['id'], inplace=True, errors='ignore')

# 2. Job Satisfaction
df_fact = pd.merge(
    df_fact,
    df_satisfied_lookup.rename(columns={'satisfaction_text': 'jobsatisfaction_text'}),
    left_on='jobsatisfaction',
    right_on='id',
    how='left'
)
df_fact.drop(columns=['id'], inplace=True, errors='ignore')

# 3. Relationship Satisfaction
df_fact = pd.merge(
    df_fact,
    df_satisfied_lookup.rename(columns={'satisfaction_text': 'relationshipsatisfaction_text'}),
    left_on='relationshipsatisfaction',
    right_on='id',
    how='left'
)
df_fact.drop(columns=['id'], inplace=True, errors='ignore')

# --- B. Merge Rating Levels (2 times) ---
# 1. Self Rating
df_fact = pd.merge(
    df_fact,
    df_rating_lookup.rename(columns={'rating_text': 'selfrating_text'}),
    left_on='selfrating',
    right_on='id',
    how='left'
)
df_fact.drop(columns=['id'], inplace=True, errors='ignore')

# 2. Manager Rating
df_fact = pd.merge(
    df_fact,
    df_rating_lookup.rename(columns={'rating_text': 'managerrating_text'}),
    left_on='managerrating',
    right_on='id',
    how='left'
)
df_fact.drop(columns=['id'], inplace=True, errors='ignore')

# --- 3. Feature Engineering ---
df_fact['reviewdate'] = pd.to_datetime(df_fact['reviewdate'], errors='coerce')
df_fact.dropna(subset=['reviewdate'], inplace=True)

# Add Review Year
df_fact['reviewyear'] = df_fact['reviewdate'].dt.year

# Sort for lag calculations
df_fact.sort_values(by=['employeeid', 'reviewdate'], inplace=True)

# Add Previous Manager Rating and Days Since Last Review
df_fact['previous_manager_rating'] = df_fact.groupby('employeeid')['managerrating'].shift(1)
df_fact['days_since_last_review'] = df_fact.groupby('employeeid')['reviewdate'].diff().dt.days

# --- 4. Rename Columns to Match Power BI ---
df_fact.rename(columns={
    'envsatisfaction_text': 'envsatisfaction_text',
    'jobsatisfaction_text': 'satisfaction_text_job',
    'relationshipsatisfaction_text': 'satisfaction_text_rel',
    'selfrating_text': 'rating_text_self',
    'managerrating_text': 'managerrating_text'
}, inplace=True)

# Add Work Life Balance Text column
df_fact = pd.merge(
    df_fact,
    df_satisfied_lookup.rename(columns={'satisfaction_text': 'worklifebalance_text'}),
    left_on='worklifebalance',
    right_on='id',
    how='left'
)
# --- 5. Export Performance Fact Table ---
df_fact.to_csv('../data/clean/performance_fact.csv', index=False)
print("âœ… Exported: performance_fact.csv")


# --- 6. Create the Enriched Employee Master Table (employee_master.csv) ---

print("Starting: Creating enriched Employee Master Table...")

df_master = employeeDF.copy()

# Enrich Education
df_master = pd.merge(
    df_master,
    education_levelDF.rename(columns={
        'educationlevelid': 'education',
        'educationlevel': 'education_level_text'
    }),
    on='education',
    how='left'
)



# Drop old numerical ID and Export
df_master.drop(columns=['education'], inplace=True, errors='ignore')
df_master.to_csv('../data/clean/employee_master.csv', index=False)
print("âœ… Exported: employee_master.csv")

Starting: Creating enriched Performance Fact Table...
âœ… Exported: performance_fact.csv
Starting: Creating enriched Employee Master Table...
âœ… Exported: employee_master.csv

Aggregation and ML Data Preparation

In [22]:

# --- 4. Aggregate Performance Metrics for ML ---

print("Starting: Creating ML Data Table via Aggregation...")

# df_fact is already sorted from Part 1.

performance_agg = df_fact.groupby('employeeid').agg(
    # Existing Aggregations
    avg_manager_rating=pd.NamedAgg(column='managerrating', aggfunc='mean'),
    total_trainings_taken=pd.NamedAgg(column='trainingopportunitiestaken', aggfunc='sum'),
    num_reviews=pd.NamedAgg(column='employeeid', aggfunc='count'),
    latest_job_sat=pd.NamedAgg(column='jobsatisfaction', aggfunc=lambda x: x.iloc[-1]),
    
    # --- AGGREGATIONS OF NEW FEATURES ---
    # Average change in rating 
    avg_rating_change=pd.NamedAgg(column='previous_manager_rating', aggfunc=lambda x: (x.iloc[-1] - x.iloc[0]) if len(x)>1 else 0),
    # The last recorded value for previous_manager_rating
    previous_rating=pd.NamedAgg(column='previous_manager_rating', aggfunc=lambda x: x.iloc[-1] if len(x)>1 else np.nan),
    # Average time between reviews
    avg_days_between_reviews=pd.NamedAgg(column='days_since_last_review', aggfunc='mean')
    
).reset_index()


# --- 5. Merge Aggregated Performance onto the Employee Master ---
df_ml = pd.merge(
    df_master.copy(), 
    performance_agg,
    on='employeeid',
    how='left'
)

# --- 6. Feature Engineering for ML ---
# Target Variable: Attrition (Yes=1, No=0)
df_ml['attrition_binary'] = df_ml['attrition'].map({'Yes': 1, 'No': 0})
df_ml.drop(columns=['attrition'], inplace=True, errors='ignore')

# OverTime (Yes=1, No=0)
df_ml['overtime_binary'] = df_ml['overtime'].map({'Yes': 1, 'No': 0})
df_ml.drop(columns=['overtime'], inplace=True, errors='ignore')

# Recalculate Tenure/Progression
df_ml['tenure_to_role_ratio'] = df_ml['yearsinmostrecentrole'] / (df_ml['yearsatcompany'] + 0.001)

# Handle NaNs created by new features
df_ml['previous_rating'].fillna(df_ml['avg_manager_rating'], inplace=True)
df_ml['avg_days_between_reviews'].fillna(0, inplace=True)

# Export ML Data Table
df_ml.to_csv('../data/clean/ml_data_for_prediction.csv', index=False)
print("âœ… Exported: ml_data_for_prediction.csv (Ready for Scikit-learn)")

Starting: Creating ML Data Table via Aggregation...
âœ… Exported: ml_data_for_prediction.csv (Ready for Scikit-learn)