In [13]:
# import sys, os
# sys.path.append(os.path.abspath('../scripts'))
import pandas as pd
# from kpi_functions import *
employeeDF = pd.read_csv('../data/clean/employee_clean.csv')
bigDF = pd.read_csv('../data/clean/bigTable.csv')
performanceDF = pd.read_csv('../data/clean/performance_clean.csv')

In [ ]:
# gender_distribution
def gender_distribution(df, show_output=True):
    gender_dist = df['gender'].value_counts(normalize=True) * 100
    gender_dist = gender_dist.round(2)
    if show_output:
        print("\n Gender Distribution (%):")
        for key, val in gender_dist.items():
            print(f'{key} : {val} %')
    return gender_dist

In [5]:
gender_dist = gender_distribution(employeeDF, True)
print(gender_dist)

 Gender Distribution (%):
Female : 45.92 %
Male : 44.29 %
Non-Binary : 8.44 %
Prefer Not To Say : 1.36 %
gender
Female               45.92
Male                 44.29
Non-Binary            8.44
Prefer Not To Say     1.36
Name: proportion, dtype: float64

In [5]:
# Age Distibution
def age_statistics(df, show_output=True):
    """
    Calculates mean, median, and range of employee ages.

    Args:
        df (pd.DataFrame): Employee dataframe.
        show_output (bool): Whether to print the summary.

    Returns:
        dict: Contains 'mean', 'median', and 'range' of Age.
    """
    stats = {
        'mean': df['age'].mean(),
        'median': df['age'].median(),
        'range': df['age'].max() - df['age'].min()
    }
    if show_output:
        print("\nðŸ“Š Age Statistics:")
        print(f"Average Age: {stats['mean']:.2f}")
        print(f"Median Age: {stats['median']}")
        print(f"Age Range: {stats['range']}")
    return stats

In [1]:
age_statistics(employeeDF, True)

NameError: name 'age_statistics' is not defined

In [7]:
# EDUCATION LEVEL DISTRIBUTION
def education_distribution(df, show_output=True):
    """
    Calculates the number of employees per education level.
    Requires the merged dataset (bigDF) with EducationLevel column.

    Args:
        df (pd.DataFrame): Merged dataset containing 'EducationLevel'.
        show_output (bool): Whether to print the summary.

    Returns:
        pd.Series: Employee counts by EducationLevel.
    """
    edu_dist = df['educationlevel'].value_counts()
    if show_output:
        print("\nðŸŽ“ Education Level Distribution:")
        print(edu_dist)
    return edu_dist

In [8]:
education_distribution(bigDF, True)

ðŸŽ“ Education Level Distribution:
educationlevel
Bachelors                   2706
Masters                     1738
High School                 1380
No Formal Qualifications     857
Doctorate                    218
Name: count, dtype: int64

educationlevel
Bachelors                   2706
Masters                     1738
High School                 1380
No Formal Qualifications     857
Doctorate                    218
Name: count, dtype: int64

In [9]:
# DEPARTMENT DISTRIBUTION
# -------------------------------------------------------------
def department_distribution(df, show_output=True):
    """
    Counts number of employees in each department.

    Args:
        df (pd.DataFrame): Employee dataframe.
        show_output (bool): Whether to print the summary.

    Returns:
        pd.Series: Employee counts by Department.
    """
    dept_dist = df['department'].value_counts()
    if show_output:
        print("\nðŸ¢ Department Distribution:")
        print(dept_dist)
    return dept_dist

In [10]:
department_distribution(employeeDF, True)

ðŸ¢ Department Distribution:
department
Technology         961
Sales              446
Human Resources     63
Name: count, dtype: int64

department
Technology         961
Sales              446
Human Resources     63
Name: count, dtype: int64

In [ ]:
# TENURE STATISTICS
# -------------------------------------------------------------
def tenure_statistics(df, show_output=True):
    """
    Calculates mean, median, and range of YearsAtCompany.

    Args:
        df (pd.DataFrame): Employee dataframe.
        show_output (bool): Whether to print the summary.

    Returns:
        dict: Contains 'mean', 'median', and 'range' for tenure.
    """
    stats = {
        'mean': df['yearsatcompany'].mean(),
        'median': df['yearsatcompany'].median(),
        'range': df['yearsatcompany'].max() - df['yearsatcompany'].min()
    }
    if show_output:
        print("\nTenure Statistics:")
        print(f"Average Years at Company: {stats['mean']:.2f}")
        print(f"Median Years: {stats['median']}")
        print(f"Range (Max - Min): {stats['range']}")
    return stats

In [13]:
tenure_statistics(employeeDF, True)

â±ï¸ Tenure Statistics:
Average Years at Company: 4.56
Median Years: 4.0
Range (Max - Min): 10

{'mean': np.float64(4.562585034013606),
 'median': np.float64(4.0),
 'range': np.int64(10)}

In [11]:
# 2.1 Average Performance Rating (Self + Manager)
def average_performance_rating(df, show_output=True):
    avg_self = df['selfrating'].mean()
    avg_manager = df['managerrating'].mean()

    if show_output:
        print("\nAverage Performance Rating:")
        print(f"Self Rating Average: {avg_self:.2f}")
        print(f"Manager Rating Average: {avg_manager:.2f}")

    return avg_self, avg_manager

In [12]:
average_performance_rating(bigDF,True)

Average Performance Rating:
Self Rating Average: 3.98
Manager Rating Average: 3.47

(np.float64(3.9840512744075123), np.float64(3.4733939484274856))

In [30]:
# 2.2 Self vs Manager Rating Alignment (latest year)
def rating_alignment(df, show_output=True):
    df['ratingdifference'] = df['selfrating'] - df['managerrating']
    avg_diff = df['ratingdifference'].mean()

    if show_output:
        print("\nRating Alignment (Self - Manager):")
        print(f"Average Difference: {avg_diff:.2f}")
        print(df['ratingdifference'].describe())

    return df['ratingdifference']

bigDF['reviewdate'] = pd.to_datetime(bigDF['reviewdate'], errors='coerce')
latest_reviews = bigDF.sort_values('reviewdate').groupby('employeeid').tail(1)

In [31]:
rating_alignment(latest_reviews, True)

Rating Alignment (Self - Manager):
Average Difference: 0.51
count    1280.000000
mean        0.505469
std         0.500166
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: ratingdifference, dtype: float64

5803    0.0
5888    1.0
5440    0.0
5843    0.0
6318    1.0
       ...
6894    NaN
6895    NaN
6896    NaN
6897    NaN
6898    NaN
Name: ratingdifference, Length: 1470, dtype: float64

In [ ]:

    # 2.3 Satisfaction and Engagement
    # Calculates average satisfaction levels and distributions.
    
    # Parameters:
    #     df (pd.DataFrame): DataFrame containing satisfaction columns
    #     show_output (bool): Print results if True
    
    # Returns:
    #     dict: A dictionary containing averages and distributions


def satisfaction_engagement(df, show_output=True):
    satisfaction_cols = [
        'environmentsatisfaction',
        'jobsatisfaction',
        'relationshipsatisfaction'
    ]
    
    results = {}

    for col in satisfaction_cols:
        avg_score = df[col].mean()
        distribution = df[col].value_counts(normalize=True).sort_index() * 100
        
        results[col] = {
            'average': round(avg_score, 2),
            'distribution': distribution.round(2).to_dict()
        }

    if show_output:
        print("\nðŸ˜Š Employee Satisfaction & Engagement KPIs:")
        for col, stats in results.items():
            print(f"\nðŸ”¹ {col}:")
            print(f"   Avg Score: {stats['average']}")
            print(f"   Distribution (%): {stats['distribution']}")

    return results

In [35]:
satisfaction_engagement(bigDF, True)

ðŸ˜Š Employee Satisfaction & Engagement KPIs:

ðŸ”¹ environmentsatisfaction:
   Avg Score: 3.87
   Distribution (%): {1.0: 2.03, 2.0: 2.1, 3.0: 32.96, 4.0: 32.42, 5.0: 30.5}

ðŸ”¹ jobsatisfaction:
   Avg Score: 3.43
   Distribution (%): {1.0: 1.94, 2.0: 24.95, 3.0: 24.61, 4.0: 25.12, 5.0: 23.39}

ðŸ”¹ relationshipsatisfaction:
   Avg Score: 3.43
   Distribution (%): {1.0: 2.04, 2.0: 25.15, 3.0: 24.24, 4.0: 25.19, 5.0: 23.39}

{'environmentsatisfaction': {'average': np.float64(3.87),
  'distribution': {1.0: 2.03, 2.0: 2.1, 3.0: 32.96, 4.0: 32.42, 5.0: 30.5}},
 'jobsatisfaction': {'average': np.float64(3.43),
  'distribution': {1.0: 1.94, 2.0: 24.95, 3.0: 24.61, 4.0: 25.12, 5.0: 23.39}},
 'relationshipsatisfaction': {'average': np.float64(3.43),
  'distribution': {1.0: 2.04, 2.0: 25.15, 3.0: 24.24, 4.0: 25.19, 5.0: 23.39}}}

In [ ]:
# 2.4 Training Opportunities
# KPI: Training Utilization
# Purpose:
#     Measures how effectively employees take advantage 
#     of available training opportunities.
#
# Logic:
#     training_utilization = (TrainingTaken / TrainingOffered) * 100
#
# Why it matters:
#     Low utilization may indicate:
#       - low engagement
#       - workload prevents learning
#       - poor training scheduling
#       - lack of support from managers
#     High utilization shows a strong development culture.
#
# Output:
#     New column: 'training_utilization'
#     Returned: EmployeeID and utilization percentage

def training_utilization_kpi(df, show_output=True):
    utilization = []

    for i, row in df.iterrows():
        if row['trainingopportunitieswithinyear'] > 0:
            percent = (row['trainingopportunitiestaken'] /
                       row['trainingopportunitieswithinyear']) * 100
        else:
            percent = 0
        utilization.append(percent)

    df['training_utilization'] = utilization

    if show_output:
        print("\nTraining Utilization (%):")
        print(df['training_utilization'].describe())

    return df[['employeeid', 'training_utilization']]

In [40]:
training_utilization_kpi(bigDF,True)

Training Utilization (%):
count    6899.00000
mean       59.94347
std        69.46051
min         0.00000
25%         0.00000
50%        50.00000
75%       100.00000
max       300.00000
Name: training_utilization, dtype: float64

     employeeid  training_utilization
0     3012-1A41              0.000000
1     3012-1A41             33.333333
2     3012-1A41              0.000000
3     3012-1A41             33.333333
4     3012-1A41              0.000000
...         ...                   ...
6894  467E-977A              0.000000
6895  6FB9-A624              0.000000
6896  EBF4-5928              0.000000
6897  60E6-B1D9              0.000000
6898  84D4-D4C3              0.000000

[6899 rows x 2 columns]

In [44]:
bigDF.columns

Index(['employeeid', 'firstname', 'lastname', 'gender', 'age',
       'businesstravel', 'department', 'distancefromhome_km', 'state',
       'ethnicity', 'education', 'educationfield', 'jobrole', 'maritalstatus',
       'salary', 'stockoptionlevel', 'overtime', 'hiredate', 'attrition',
       'yearsatcompany', 'yearsinmostrecentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'educationlevelid', 'educationlevel',
       'performanceid', 'reviewdate', 'environmentsatisfaction',
       'jobsatisfaction', 'relationshipsatisfaction',
       'trainingopportunitieswithinyear', 'trainingopportunitiestaken',
       'worklifebalance', 'selfrating', 'managerrating', 'satisfactionid',
       'satisfactionlevel', 'satisfactionid_job', 'satisfactionlevel_job',
       'satisfactionid_rel', 'satisfactionlevel_rel', 'ratingid',
       'ratinglevel', 'ratingid_manager', 'ratinglevel_manager',
       'ratingdifference', 'training_utilization'],
      dtype='object')

In [ ]:
# 2.5 Work-Life Balance
# KPI: Work-Life Balance Score
# Purpose:
#     Measures how well employees are balancing work with personal life.
#
# Logic:
#     Average rating of 'WorkLifeBalance' column.
#     Higher score = healthier work-life balance.
#
# Business Value:
#     Helps HR detect burnouts, workload issues,
#     and areas where wellness programs are needed.
#
# Output:
#     Overall average score and distribution visualization.
# -------------------------------------------------------
def work_life_balance_kpi(df, show_output=True):
    if 'worklifebalance' not in df.columns:
        print("Column 'worklifebalance' not found in the dataset.")
        return None

    avg_wlb = df['worklifebalance'].mean()

    if show_output:
        print("\nðŸŒ± Work-Life Balance KPI:")
        print(f"Average Score: {avg_wlb:.2f}")
        print(df['worklifebalance'].describe())

    return avg_wlb

In [51]:
work_life_balance_kpi(bigDF, True)

ðŸŒ± Work-Life Balance KPI:
Average Score: 3.41
count    6709.000000
mean        3.414667
std         1.143961
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: worklifebalance, dtype: float64

np.float64(3.4146668654046803)

In [ ]:
# 3.1 Attrition Rate
# KPI: Attrition Distribution (Stayed vs Left)
# Purpose:
#     Shows the percentage of employees who stayed vs left.
#
# Business Value:
#     Gives HR a clear view of retention health.
#
# Output:
#     Series with two percentages: Yes (left) / No (stayed)
# -------------------------------------------------------
def attrition_distribution_kpi(df, show_output=True):

    if 'attrition' not in df.columns:
        print("attrition' column missing from dataset")
        return None

    distribution = df['attrition'].value_counts(normalize=True) * 100
    distribution = distribution.round(2).astype(str) + '%'
    if show_output:
        print("\nAttrition Distribution (%):")
        print(distribution)

    return distribution

In [76]:
attrition_distribution_kpi(employeeDF, True)

Attrition Distribution (%):
attrition
No     83.88%
Yes    16.12%
Name: proportion, dtype: object

attrition
No     83.88%
Yes    16.12%
Name: proportion, dtype: object

In [80]:
# 3.2 Attrition by Department
# KPI: Attrition by Department
# Purpose:
#     Measures turnover rate per department to identify
#     areas needing HR attention and retention efforts.
#
# Output:
#     DataFrame with Department and Attrition %
# -------------------------------------------------------
def attrition_by_department_kpi(df, show_output=True):
    if 'attrition' not in df.columns or 'department' not in df.columns:
        print("Required columns missing: 'attrition', 'department'")
        return None
    
    # Calculate attrition rate per department
    dept_attrition = df.groupby('department')['attrition'].apply(
        lambda x: (x == 'Yes').mean() * 100
    )

    dept_attrition = dept_attrition.round(2)

    if show_output:
        print("\nAttrition by Department (%):")
        print(dept_attrition)

    return dept_attrition

In [81]:
attrition_dept = attrition_by_department_kpi(employeeDF, True)

Attrition by Department (%):
department
Human Resources    19.05
Sales              20.63
Technology         13.84
Name: attrition, dtype: float64